services:
  - type: web
    name: hibiscustoairport-backend
    env: python
    region: singapore
    plan: free

    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn server:app --host 0.0.0.0 --port $PORT

    autoDeploy: true
